@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-title text-center">
                <p>who we are?</p>
                <h2>About the Avengers</h2>
            </div>

            <div class="entry-featured-content shadow-z-2">
                <img class="img-responsive" src="~/Content/img/about.jpg" alt="">
            </div>

            <div class="entry-content">
                <h2>Mission (Vision &amp; Values)</h2>
                <p>Our mission is to provide protection against villains and educate our community about safety. We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness.</p>
                
                <h2>Programs/Services</h2>
                <p>Super Heroes, Inc. is a dedicated group o fheroes who strive to provide programs that emphasize growth through education, safety training, and challenges. We provide citizens of all ages with hands-on, interactive programs to encourage safety and respect for others.</br> We offer one self-defense course per week at our Super Heroes, Inc. Training center and one education course a week a the local library.</p>
                <blockquote>
                    <p><strong>Self-Defense</strong></p>
                    <ul>
                        <li>Welcomes all ages to learn techniques to increase your personal safety. The class meets on Monday evenings at 7:00pm.</li>
                    </ul>
                    <p><strong>Education</strong></p>
                    <ul>
                        <li>The Education series provides hour long programs with some of our super heroes on staff who teach about various topics on Thursday eveings at 7:30pm. Recent events include:
                            <ul>
                                <li>Hulk - Anger Management</li>
                                <li>Batman - Underground Cave Construction</li>
                                <li>Ironman - Self Awareness</li>
                            </ul>
                        </li>
                    </ul>
                </blockquote>
            </div>


        </div>
    </div>
</div>